body {
   margin: 0;
}

.container {
   font-family: "roboto", sans-serif;
}

.header {
   box-sizing: border-box;
   display: flex;
   padding: 16px 15%;
   justify-content: space-between;
   background-color: #1F2937;
   align-items: center;
   height: 52px;
}

.header-left {
   font-size: 24px;
   color: #F9FAF8;
   font-weight: bold;
}

.header-right {
   font-size: 18px;
   color: #E5E7EB;
}

.header-right ul {
   list-style: none;
   gap: 16px;
   display: flex;
}

.main {
   display: flex;
   height: calc(100vh - 52px);
   background-color: #1F2937;
   justify-content: center;
   align-items: center;
   padding: 0 15%;
}

.main-content {
   display: flex;
   align-items: flex-start;
   gap: 8px;
}

.main-left-content {
   flex: 1;
}

.main-left-content span {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
}

.main-left-content p {
   font-size: 18px;
   color: #E5E7EB;
}

.main-left-content button {
   background-color: #3882f6;
   padding: 8px 32px;
   border-radius: 8px;
   align-self: flex-start;
   
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

.main-right-content {
   flex: 1;
}

.main-right-content img {
   width: 100%;
   border-radius: 8px;
}

.informations {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 52px 15%;
}

.informations span {
   font-size: 36px;
   font-weight: 900;
   color: #1F2937;
   margin-bottom: 32px;
}

.formats {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 32px
}

.formats-card {
   height: 300px;
   width: 200px;
   border-radius: 8px;
   padding: 8px;

   border-style: solid;
   border-width: thin;
   border-color: lightgray;

   display: flex;
   flex-direction: column;
}

.formats-card img {
   flex: 1;
   height: 0px; /* ASK FOR EXPLANATION */
   object-fit: cover;
   border-radius: 8px;
}

.formats-card-desc {
   padding: 8px;
   height: 32px;
   text-align: center;
   font-weight: bold;
}

.quotes {
   background-color: #E5E7EB;
   display: flex;
   flex-direction: column;
   padding: 10% 20%;
}

.quotes-text {
   font-size: 36px;
   font-style: italic;
   font-weight: 100;
   color: #1F2937;
}

.quotes-author {
   font-weight: bold;
   font-size: 20px;
   align-self: flex-end;
}

.cta {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 64px 15%;
}

.cta-container {
   background-color: #3882f6;
   width: 100%;
   display: flex;
   border-radius: 8px;
   padding: 40px 80px;
   color: white;
}

.cta-container-left {
   flex: 2.5
}

.cta-container-right {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.cta-container-right button {
   background-color: #3882f6;
   padding: 8px 32px;
   border-radius: 8px;
   align-self: flex-start;
   
   border-style: solid;
   border-width: 1px;
   border-color: white;

   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.cta-container span {
   font-size: 20px;
   font-weight: bold;
   display: inline-block;
   margin-bottom: 4px;
}

.cta-container p {
   margin: 0px;
   font-weight: 100;
}

.footer {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px;
   color: white;
}